.legend {
    font-size: 13px;
    line-height: 10px;
}

.legend table { 
    border-spacing: 0px;
    border-collapse: separate;
}

.mouse-events .flot-overlay {
    cursor: crosshair; 
}


#echart {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transform: scale(1)!important;
  margin-top: 0px!important;
}
